//
//  Global Variables
//  ---------------------------------------------


//
//  Colors
//  ---------------------------------------------

$primary__color: #25303B;
$white__color: #ffffff;

//
//  Layout
//  ---------------------------------------------
$layout__max-width: 1280px;
$indent__base: 20px;