//
//  Global Variables
//  ---------------------------------------------


//
//  Colors
//  ---------------------------------------------

$primary__color: #000;
$white__color: #ffffff;

//
//  Layout
//  ---------------------------------------------
$layout__max-width: 1280px;
$indent__base: 20px;
$indent__s: 10px;
$indent__xs: 5px;

//
//  Fonts
//  ---------------------------------------------
$font__base: 16px;
$font__small: 12px;
$font__regular: 14px;